<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <% if(errors?.length > 0) { %>
    <ul>
      <% errors.forEach(function (error) { %>
      <li><%= error.msg %></li>
      <% }) %>
    </ul>
    <% } %>
    <form action="/products/addProduct" method="POST">
      <label>
        Назва
        <input type="text" name="name" />
      </label>
      <label>
        Ціна
        <input type="text" name="price" /> </label
      ><label>
        Кількість
        <input type="text" name="quantity" />
      </label>
      <button type="submit">Додати</button>
    </form>
  </body>
</html>
