<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <form action="/login" method="POST">
      <label>
        Логін
        <input type="text" />
      </label>
      <label>
        Пароль
        <input type="password" />
      </label>
      <button type="submit">Увійти</button>
    </form>
  </body>
</html>
